header {
  background-color: #888888;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.albums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}