<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="fragments/head :: head">
</head>

<body>
<header th:include="fragments/header :: header"></header>
<h2>Add A Song</h2>

<form method="POST" action="/songs">
    <input type="hidden" name="id" th:value="${album.id}">

    <label>Song Title
        <input type="text" name="title">
    </label>

    <label>Song Length in Seconds
        <input type="number" name="length">
    </label>

    <label> Track Number
        <input type="number" name="trackNumber">
    </label>

    <input type="submit">
</form>

</body>

<footer>

</footer>
</html>