<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="fragments/head :: head">
</head>

<body>
  <header th:include="fragments/header :: header"></header>
  <h2>Albums</h2>

  <form method="GET" action="/add/album">
    <input type="submit" value="Add Album">
  </form>

  <div class="albums">
    <article th:each="album : ${albums}">
      <h3 th:text="${album.title}"></h3>
      <img th:src="${album.img}" th:alt="${album.title}">
      <h4 th:text="${album.artist}"></h4>
      <p th:text="'Contains ' + ${album.songCount} + ' songs'"></p>
      <p th:text="${album.length} + ' seconds long'"></p>
    </article>
  </div>

</body>

<footer>
  
</footer>
</html>